

<g id="Regions">
  <a onclick="toggle('3')"><title>Naples</title>
    <circle id="naples" cx="720.2147" cy="862.6856" r="109.4101" fill="#075f84" fill-opacity="0.5" stroke="#075f84" stroke-miterlimit="10" stroke-width="0"/>
    <text style="font-family:'le-havre', 'Helvetica Neue', sans-serif;" id="naples" transform="translate(465.9696 825.3989)" font-size="42.5" fill="#075f84" font-family="LeHavre-Reg, Le Havre" letter-spacing="0.0197em">N<tspan x="28.5469" y="0" letter-spacing="0.0181em">A</tspan><tspan x="50.0981" y="0" letter-spacing="0.0115em">P</tspan><tspan x="70.519" y="0" letter-spacing="0.0113em">L</tspan><tspan x="85.7466" y="0" letter-spacing="0.0244em">E</tspan><tspan x="105.1431" y="0" letter-spacing="0.034em">S</tspan><tspan letter-spacing="0.047em">
      <tspan x="-144.6479" y="50">M</tspan><tspan x="-111.5405" y="50" letter-spacing="0.0181em">A</tspan><tspan x="-89.9893" y="50" letter-spacing="0.0206em">R</tspan><tspan x="-68.4165" y="50" letter-spacing="0.0007em">C</tspan><tspan x="-41.7393" y="50" letter-spacing="0.034em">O </tspan><tspan x="2.5029" y="50" letter-spacing="0.0174em">I</tspan><tspan x="13.1021" y="50" letter-spacing="0.0215em">S</tspan><tspan x="31.6953" y="50" letter-spacing="0.0459em">L</tspan>
      <tspan x="48.3931" y="50" letter-spacing="0.0181em">A</tspan><tspan x="69.9443" y="50" letter-spacing="0.0262em">N</tspan><tspan x="98.7676" y="50" letter-spacing="0.034em">D</tspan></tspan><tspan letter-spacing="0.036em"><tspan x="-89.0366" y="100">E</tspan><tspan x="-69.147" y="100" letter-spacing="0.0191em">V</tspan><tspan x="-47.5527" y="100" letter-spacing="0.0111em">E</tspan><tspan x="-28.7212" y="100" letter-spacing="0.0201em">R</tspan>
      <tspan x="-7.1694" y="100" letter-spacing="0.0324em">G</tspan><tspan x="22.2148" y="100" letter-spacing="0.0459em">L</tspan><tspan x="38.9126" y="100" letter-spacing="0.0181em">A</tspan><tspan x="60.4639" y="100" letter-spacing="0.0289em">D</tspan><tspan x="85.7471" y="100" letter-spacing="0.0244em">E</tspan><tspan x="105.1436" y="100" letter-spacing="0.034em">S</tspan></tspan>
    </text>
  </a>
  <a onclick="toggle('2')"><title>Sarasota</title><circle id="sarasota" cx="435.895" cy="476.3220" r="47.1708" fill="#075f84" fill-opacity="0.5" stroke="#075f84" stroke-miterlimit="10" stroke-width="0"/>
    <text style="font-family:'le-havre', 'Helvetica Neue', sans-serif;" id="sarasota" transform="translate(200.1795 504.6124)" font-size="42.5" fill="#075f84" font-family="LeHavre-Reg, Le Havre" letter-spacing="0.0223em">S
      <tspan x="18.627" y="0" letter-spacing="0.0181em">A</tspan><tspan x="40.1782" y="0" letter-spacing="0.048em">R</tspan><tspan x="62.9155" y="0" letter-spacing="0.0397em">A</tspan>
      <tspan x="85.3853" y="0" letter-spacing="0.0192em">S</tspan><tspan x="103.8804" y="0" letter-spacing="-0.0187em">O</tspan>
    <tspan x="136.4902" y="0" letter-spacing="-0.0287em">T</tspan><tspan x="152.6099" y="0" letter-spacing="0.034em">A</tspan>
  </text>
</a>
  <a onclick="toggle('1')"><title>Clearwater</title><circle id="clearwater" cx="330.7102" cy="278.0519" r="47.9855" fill="#075f84" fill-opacity="0.5" stroke="#075f84" stroke-miterlimit="10" stroke-width="0"/>
    <text style="font-family:'le-havre', 'Helvetica Neue', sans-serif;" id="clearwater" transform="translate(50.9946 263.8217)" font-size="42.5" fill="#075f84" font-family="LeHavre-Reg, Le Havre"  y="50" letter-spacing="0.0155em">C
      <tspan x="27.3062" y="50" letter-spacing="0.0113em">L</tspan><tspan x="42.5337" y="50" letter-spacing="0.0349em">E</tspan><tspan x="62.3765" y="50" letter-spacing="0.0181em">A</tspan>
      <tspan x="83.9282" y="50" letter-spacing="0.0092em">R</tspan><tspan x="105.0166" y="50" letter-spacing="-0.0245em">W</tspan><tspan x="139.5049" y="50" letter-spacing="-0.0287em">A</tspan>
      <tspan x="159.0674" y="50" letter-spacing="0.0113em">T</tspan><tspan x="176.8872" y="50" letter-spacing="0.0111em">E</tspan><tspan x="195.7188" y="50" letter-spacing="0.034em">R</tspan>

      <tspan letter-spacing="0.027em"><tspan x="-51.6133" y="0">S</tspan><tspan x="-32.7866" y="0" letter-spacing="-0.0164em">T</tspan>  <tspan x="-16.144" y="0" letter-spacing="0.034em">. </tspan>
      <tspan x="2.6821" y="0" letter-spacing="0.0115em">P</tspan><tspan x="23.103" y="0" letter-spacing="0.0276em">E</tspan><tspan x="42.6362" y="0" letter-spacing="0.0113em">T</tspan>
      <tspan x="60.4556" y="0" letter-spacing="0.0111em">E</tspan><tspan x="79.2871" y="0" letter-spacing="0.0338em">R</tspan><tspan x="101.4209" y="0" letter-spacing="0.0215em">S</tspan><tspan x="120.0142" y="0" letter-spacing="0.0277em">B</tspan>
      <tspan x="142.2285" y="0" letter-spacing="0.0275em">U</tspan><tspan x="166.8564" y="0" letter-spacing="0.0201em">R</tspan><tspan x="188.4082" y="0" letter-spacing="0.034em">G</tspan></tspan>
    </text>

  </a>

  <a onclick="toggle('4')"> <title>Florida Keys</title><circle id="florida-keys" cx="880.4818" cy="1220.2361" r="102.3611" fill="#075f84" fill-opacity="0.5" stroke="#075f84" stroke-miterlimit="10" stroke-width="0"/>
    <text style="font-family:'le-havre', 'Helvetica Neue', sans-serif;" id="florida-keys" transform="translate(511.3812 1165.4095)" font-size="42.5" fill="#075f84" font-family="LeHavre-Reg, Le Havre" letter-spacing="0.006em">F<tspan x="17.2969" y="0" letter-spacing="-0.0203em">L</tspan><tspan x="31.1812" y="0" letter-spacing="0.0257em">O</tspan><tspan x="65.6782" y="0" letter-spacing="0.0286em">R</tspan><tspan x="87.5913" y="0" letter-spacing="0.0241em">I</tspan><tspan x="98.4751" y="0" letter-spacing="0.0028em">D</tspan>
      <tspan x="122.6489" y="0" letter-spacing="0.034em">A </tspan><tspan x="154.2686" y="0" letter-spacing="0.0276em">K</tspan><tspan x="176.606" y="0" letter-spacing="0.0333em">E</tspan><tspan x="196.3809" y="0" letter-spacing="0.0108em">Y</tspan><tspan x="217.6646" y="0" letter-spacing="0.034em">S</tspan>
      <tspan x="73.2686" y="50" letter-spacing="0.0276em">K</tspan><tspan x="95.606" y="50" letter-spacing="0.0333em">E</tspan><tspan x="115.3809" y="50" letter-spacing="0.0108em">Y</tspan><tspan x="146.5000" y="50" letter-spacing="0.0276em">W</tspan><tspan x="182.606" y="50" letter-spacing="0.0333em">E</tspan><tspan x="202.6000" y="50" letter-spacing="0.0108em">S</tspan><tspan x="220.3809" y="50" letter-spacing="0.0108em">T</tspan>
    </text></a>

    <a onclick="toggle('5')"> <title>Fort Lauderdale</title>
      <circle id="fort-luaderdale" cx="1080.4818" cy="750.2361" r="80.3611" fill="#075f84" fill-opacity="0.5" stroke="#075f84" stroke-miterlimit="10" stroke-width="0"/>
      <text style="font-family:'le-havre', 'Helvetica Neue', sans-serif;" id="florida-keys" transform="translate(511.3812 1165.4095)" font-size="42.5" fill="#075f84" font-family="LeHavre-Reg, Le Havre" letter-spacing="0.03em">
        <tspan x="600.2686" y="-290">GREATER</tspan>
        <tspan x="600.2686" y="-240">FORT</tspan>
        <tspan x="600.2686" y="-195">LAUDERDALE</tspan>
      </text></a>
</g>
