.btn {

  font-family: $font-title-01;
  position: relative;
  display: inline-block;
  padding: $s2 $s5;
  color: $white;
  font-weight: 700;
  font-size: $s2/1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.33;
  border-radius: 0px;
  cursor: pointer;
  @include transition;
  &--sm { padding: $s1 $s4; font-size: $s-2; }
  &--lg { padding: $s3 $s8; font-size: $s-1; }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; } }

  &--f-blue { background-color: $f-blue; font-size: 13px;
    &:hover { background-color: $f-blue; }}

  &--f-sand { background-color: $f-sand; color: $black;
    &:hover { background-color: $f-sand; }}

  &--f-red { background-color: $f-red;
    &:hover { background-color: $f-red; }}

  &--f-lightblue { background-color: $f-lightblue;
    &:hover { background-color: $f-lightblue; }}

  &--outline {
    color: inherit;
    &:before {
      // button border within original padding
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 1px;
      border-style: solid;
      border-radius: inherit;
      @include transition;
    }
  }
  &--outline-white {

    //border-radius: 4px;
    border: 2px solid $white;
    color: $white;
    &:hover {
      background-color: $f-red;
      border: 2px solid $f-red;
      color: $white;
    }
  }
  &--outline-black {
    //border-radius: 4px;
    border: 1px solid $black;
    color: $black;
    &:hover {
      background-color: $f-red;
      border: 1px solid $f-red;
      color: $white;
    }
  }
  &--outline-orange {
    &:before { border-color: $orange; }
    &:hover {
      background-color: $orange;
      &:before { border-color: $orange; }
    }
  }
}
